.navbar-new-top {
    background-color: #EEFFFF;
    position: absolute;
}

.navbar-nav .nav-item a {
    color: black;
    font-weight: 600;
    transition: 1s ease;
    padding: 10px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.navbar-nav .nav-item a:hover{
    color: #33CC99;
    font-size:15px;
}

