.quizword{
	margin-bottom: 30px;
}

.form{
	text-align: center;
	margin: 0 auto;
}

.four-choices{
	text-align: center;
}

input[type=radio] {
	display: none; /* ラジオボタンを非表示にする */
	margin: 0 auto;
}

input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.choice{
	font-size: 30px;	/**/
	display: inline-block;	/* ブロックレベル要素化する */
	margin: 0 auto;	/* ボックス外側の余白を指定する */
	width: 600px;	 /*ボックスの横幅を指定する*/
	/*height: 45px;	 ボックスの高さを指定する */
	padding: 10px;	/* ボックス内の余白を指定する */
	margin: 10px;	/* ボックス外	の余白を指定する */
	color: #b20000;	/* フォントの色を指定 */
	text-align: center;	/* テキストのセンタリングを指定する */
	line-height: 45px;	/* 行の高さを指定する */
	cursor: pointer;	/* マウスカーソルの形（リンクカーソル）を指定する */
	border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
	border-radius: 5px;	/* 角丸を指定する */

	text-decoration: none;
	color: #67c5ff;
	border: dashed 1px #67c5ff;
	background: #f2fcff;
	border-radius: 3px;
	transition: .4s;
}

.choice:hover {
	background: #cbedff;
	color: #FFF;
}

.to-answer{
	margin: 10px;
}

.hibiscus{
	margin-top:10px;
	text-align: center;
}





