.navbar-new-top {
    background-color:#444444;
    position: absolute;
}

.navbar-nav .nav-item a {
    color: white;
    font-weight: 700;
    font-family: 'Acme', sans-serif;
    transition: 1s ease;
    padding: 10px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.navbar-nav .nav-item a:hover{
    color: #33CC99;
    font-size:27px;
}


a:hover{
    text-decoration:none;
}
.section-padding {
    padding: 6px;
    width: 100%;
    height: 60px;
    /*position: fixed;*/
    bottom: 0;
    overflow: hidden;
}
.bottom {
    background-color: #444444;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p {
    color: white;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: white;
}
.copyright span {
    color: #33CC99;
}